@{
    ViewBag.Title = "Contact Not Found";
}

<h2>Contact Not Found</h2>

<p>Sorry - but the contact you requested doesn't exist or was deleted.</p>

<p>@Html.ActionLink("Back to contacts", "Index")</p>